:root {
    --primary-text-colour: #757575;
    --title-text-colour: #212121;
    --white-colour: #FFFFFF;

    --accent-colour: #2196F3;

    --second-bg-colour: #2F303A;
    --third-bg-colour:#F5F4FA;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}

.link {
text-decoration: none;
} 

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ---------------------------------------header----------------------------------- */
.header{
    background-color: var(--white-colour);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header > .container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway' , sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        color: var(--accent-colour);
        margin-right: 93px;
}

.header-logo > span{
    color: var(--title-text-colour);
}

.header-list {
    display: flex;
    margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-link {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}

.header-link:hover, .header-link:focus {
    color: var(--accent-colour);
}


.header-contacts-item:not(:last-child) {
    margin-right: 30px;
}

.header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-colour);
    gap: 10px;
}

.header-contacts-mail {
    fill: currentColor;
}

.header-contacts:hover,
.header-contacts:focus,
.header-contacts-mail:focus,
.header-contacts-mail:hover {
    color: var(--accent-colour);
}



/* -------------------------------------promo-------------------------------------- */
.promo { 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--second-bg-colour);
    padding-top: 200px;
    padding-bottom: 200px
}


.promo-text {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-colour);
        max-width: 696px;
        margin: auto;
}

.promo-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-colour);
    background-color: var(--accent-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    margin: 30px auto 0;
    min-width: 216px;
    height: 50px;
}

.promo-btn:hover, .promo-btn:focus {
    background-color:#188CE8;
}

/* -----------------------------------features---------------------------------------------- */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-item-list {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    background-color:#F5F4FA ;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-heading {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-colour);
        margin-bottom: 10px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    min-width: 270px;
}

.features-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--primary-text-colour);
}

/* ----------------------------------------develop---------------------------------------------- */
.develop {
    padding-top: 0;
}

.develop-title {
    font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-colour);
        margin-bottom: 50px;
}

.develop-list {
    display: flex;
    gap: 30px;
}
/* ----------------------------------------team------------------------------------------------ */
.team {
    background-color: var(--third-bg-colour);
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-colour);
        margin-bottom: 50px;
}
.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-item-title {
    font-weight: 500;
        font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-colour);
        margin-bottom: 10px;
}

.team-item-text {
        font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-colour);
        margin-bottom: 16px;
}


.team-title-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-soc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: #AFB1B8;
}

.team-soc-link:hover, .team-soc-link:focus {
    fill: #FFFFFF;
    background-color: var(--accent-colour);
    cursor: pointer;
}


/* -------------------------------------------clients----------------------------------------- */

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 30px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
}

/* .clients-icon {
    fill: #AFB1B8;
} */

.clients-link:hover , .clients-link:focus {
    border: 1px solid var(--accent-colour) ;
    cursor: pointer;
    fill: var(--accent-colour);
}

/* .clients-link:hover,
.clients-link:focus .clients-icon {
    fill: var(--accent-colour);
} */


/* --------------------------------------------footer--------------------------------------------- */
.footer {
    background-color: var(--second-bg-colour);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-wrap {
    display: flex;
}

.footer-address {
    margin-right: 70px;
}

.footer-logo{
    font-family: 'Raleway' , sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        color: var(--accent-colour);
}

.footer-logo > span {
    color: var(--white-colour);
}

.address {
    margin-top: 20px;
    width: 231px;
    height: 81px;
}

.address-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-colour);
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-colour);
}

.address-map:hover,
.address-map:focus {
    color: var(--accent-colour);
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-social {
    width: 206px;
    height: 80px;
    margin-top: 12px;
}

.footer-social-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-colour);
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--white-colour);
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-colour);
    cursor: pointer;
}




/* -------------------------------------portfolio page-------------------------------------------- */


.navigation-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
}

.navigation-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        display: block;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-colour);
        background-color: var(--third-bg-colour);
        border-radius: 4px;
        border-style: none;
        border-radius: 4px;
        cursor: pointer;
        min-width: 73px;
        height: 38px;
        padding: 6px 22px;
}

.navigation-item:hover , .navigation-item:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.navigation-btn:hover, .navigation-btn:focus {
    background-color: var(--accent-colour);
    color: var(--white-colour);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}


.project-item:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.project-item {
    width: calc(100%/3-30);
    margin: 15px;
}


.project-title {
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-text-colour);
        margin-bottom: 4px;
}

.project-text {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--primary-text-colour);

}

.project-border {
border-right: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
padding: 20px 24px;
}

