:root {
    --primary-text-colour: #757575;
    --title-text-colour: #212121;
    --accent-colour: #2196F3;
    --first-bg-colour: #F5F5F5;
    --second-bg-colour: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    } 

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* --------header---------- */

.header-link{
    color: #2196F3;
}