.team {
    background-color: var(--third-bg-colour);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-colour);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-item-title {
    font-weight: 500;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-colour);
    margin-bottom: 10px;
    font-size: 16px;
}

.team-item-text {
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-colour);
    margin-bottom: 16px;
    font-size: 16px;
}


.team-title-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-soc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    fill: #FFFFFF;
    background-color: var(--accent-colour);
    cursor: pointer;
}



