.header {
    background-color: var(--white-colour);
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
    > .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            max-width: 767px;
        }
        @include tablet {
            max-width: 1199px;
        }
        @include desktop {
            max-width: 1600px;
        }
    }
    @include tablet {
        padding-top: 21px;
        padding-bottom: 21px;
    }
        
    @include desktop {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.header__container {
    margin-right: auto;
    margin-left: auto;

}

.logo {
    @include font(24px, 1.16, 0.03em);
    font-family: 'Raleway', sans-serif;
    color: var(--accent-colour);
    font-weight: 700;
    >span {
        color: var(--title-text-colour);
    }
    @include tablet{
    margin-right: 88px;
    }
    @include desktop {
        margin-right: 93px;
        @include font(26px, 1.3, 0.03em);
    }
}

.navigation__list {
    display: none;
    margin-left: auto;
    @include tablet {
        display: flex;
        }
    
    @include desktop {
        display: flex;
        }
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__link {
    @include font(14px, 1.14, 0.02em);
    font-weight: 500;
    color: var(--title-text-colour);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-colour);
        }
}

.navigation__link--active {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -34px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-colour);
        }
    @include desktop {
        &::after {
        bottom: -34px;}
    }
}

.contact {
    display: none;

    @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    }
    
    @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    }
}

.contacts__item:not(:last-child) {
    @include tablet {
        margin-bottom: 10px;
    }
}


.contacts__item:not(:last-child) {
    @include desktop {
        margin-right: 30px;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(12px, 1.16, 0.02em);
    font-weight: 500;
    color: var(--primary-text-colour);
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: var(--accent-colour);
        }
    @include desktop {
        @include font(14px, 1.14, 0.02em);
    }
}

.contacts__icon {
    fill: currentColor;
    &:focus,
    &:hover {
        color: var(--accent-colour);
    }
}

.header__container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;

    @include tablet {
        display: none;
    }
    
    @include desktop {
        display: none;
    }
}

.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--white-colour);
    top: 0;
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include tablet {
            display: none;
        }
    
    @include desktop {
            display: none;
        }
    > .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        overflow: auto;
        @include mobile {
            max-width: 767px;
        }
    }
}

.mob-menu .mob-menu__container {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 48px;
    margin: 0;
}

.mob-menu__button {
    display: block;
    margin-left: auto;
    width: 40px;
    height: 40px;
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-colour);
    }
}

.mob__nav-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob__nav-link {
    @include font(40px, 1.17 , 0.02em);
    font-weight: 500;
    color: var(--title-text-colour);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover , &:focus {
        color: var(--accent-colour);
    }
}

.mob__nav-link--active {
    color: var(--accent-colour);
}

.mob__contact-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob__contact-tel {
    @include font(34px, 1.18, 0.02em);
    font-weight: 500;
    color: var(--accent-colour);
}

.mob__contact-mail {
    @include font(24px, 1.17, 0.02em);
    font-weight: 500;
    color: var(--primary-text-colour);
}

.mob__contact-list {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 64px;

}

.mob__contact-link {
    @include font(18px, 1.22, 0.02em);
    font-weight: 500;
    color: var(--accent-colour);
}

.mob__contact-list-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.is-open {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
