:root {
    --primary-text-colour: #757575;
    --title-text-colour: #212121;
    --white-colour: #FFFFFF;

    --accent-colour: rgb(33, 150, 243);

    --second-bg-colour: #2F303A;
    --third-bg-colour: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
}

@mixin font($fs, $lh, $ls) {
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}